nav {
    postion: fixed;
    height: 120px;
    width: 100vw;
    z-index: 99999;
    background-color: #4056A1;
    color: #ffffff ;
    padding-top: 2.0em;
}

.newTweet {
    float: right;
    padding-right: 1.5em;
    

}

.logo {
    font-family:'Bungee';
    padding-left: 1.5em;
}


